<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>{{ movie.title }}</title>
</head>
<body>
<h1>{{ movie.title }} {{ movie.year }}</h1>
<p>Оценки фильма:</p>
<table>
  <thead>
  <tr>
    <th>ID</th>
    <th>Никнейм</th>
    <th>Дата оценки</th>
    <th>Оценка</th>
  </tr>
  </thead>
  <tbody>
  {% for rating in movie.ratings %}
    <tr>
      <td>{{ rating.user.id }}</td>
      <td><a href="/users/{{ rating.user.id }}">{{ rating.user.name }}</a></td>
      <td>{{ rating.timestamp }}</td>
      <td>{{ rating.rating }}</td>
    </tr>
  {% endfor %}
  </tbody>
</table>
</body>
</html>